<%- model_class = Poll -%>
<div class="page-header">
  <h1>Taking Poll <%= @poll.name %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Dimension.human_attribute_name(:name) %></th>
      <th>Option</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag(replies_path, method: "post") do | f | %>
    <%= hidden_field_tag(:id, @poll.id) %>
    <% @replies.each do |reply| %>
      <tr>
        <td><%=reply.dimension%></td>
        <td><%= collection_select("#{@marker}#{reply.dimension_id}", :value_id,reply.values, :id, :label,prompt: true) %>
      </td>
      </tr>
<% end %>
    <tr><td colspan="2"><%= submit_tag("Take Poll") %>     <% end %></td>
  </tbody>
</table>
